 * {
     margin: auto;
     text-align: center;    
 }

 body {
     background-color: lightgray;
     font-family: 'Bebas Neue', cursive;
 }

 content {

    display: grid;   
    grid-template-columns: [first] 25% [line2] 1fr [line3] 1fr [line4] 25% ;
    grid-template-rows: [row1-start] 10% [row1-end] 10% [third-line] 1fr [last-line] 1fr;
    border: 1px white solid;
    color: white;
    background-color: rgb(211, 191, 191);
    

    padding-top: 01.5em;
    margin-top: 10em;
    width: 800px;
    height: 400px;
    min-width: 800px;
    min-height: 400px;
    color: white;
    border: 1px white solid;
    font-size: 1.5em;     
    overflow: hidden; 
    z-index: 1;
 }


.text-current-time {    
    font-size: 2em;
    grid-column-start: first;
    grid-column-end: span line2;
    grid-row-start: row1-start;
    grid-row-end: row1-start;
}



.button-start-timer {
    grid-column-start: line2;
    grid-column-end: span line4;
    grid-row-start: row1-end;
    grid-row-end: third-line;

}


#text-timer {    
    font-size: 2em;
    grid-column-start: first;
    grid-column-end: span line2;
    grid-row-start: row2-end;
    grid-row-end: third-line;
}






 